* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

body{
    background-color: #1f242d;
}

.header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 10%;
    background-color: transparent;
    display: flex;
    justify-content:space-between;
    align-items: center;
    z-index: 100;
}

.logo{
    position: relative;
    font-size: 25px;
    color: #fff;
    text-decoration: none;
    font-weight: 600;
    cursor: default;
}
.navbar a{
    display: inline-block;
    font-size: 25px;
    color: #fff;
    text-decoration: none;
    font-weight: 500;
    margin-left: 35px;
    transition: .3s;
}

.navbar a:hover,
.navbar a.active{
    color: #0ef;
}

.home{
    position: relative;
    width: 100%;
    justify-content: space-between;
    height: 100vh;
    background: url();
}



Réinitialisation des marges et des paddings
body, h1, h2, h3, p, ul, li {
    margin: 0;
    padding: 0;
}




/* Style des boutons */
.social-btns .btn {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 50px;
    height: 50px;
    margin: 5px;
    border-radius: 50%;
    background-color: #fff;
    color: #fff;
    font-size: 20px;
    text-decoration: none; 
    transition: background-color 0.3s ease;
    position: relative; /* Ajout d'une position relative pour les dégradés */
    overflow: hidden; /* Pour masquer les débordements des dégradés */
}

/* Style des icônes */
.social-btns .btn i {
    line-height: 1;
    pointer-events: none; /* Désactiver les événements de pointage sur les icônes */
}

/* Couleurs des icônes */
.social-btns .btn.git i {
    color: #001; 
}

.social-btns .btn.linkedin i {
    color: #0e76a8; 
}

.social-btns .btn.codepen i {
    color: #000; 
}

/* Effet de survol avec dégradé */
.social-btns .btn:hover {
    background-color: #555;
    /* Dégradé linéaire de haut en bas */
    background-image: linear-gradient(to bottom, #5A1929, #fff);
}
